@import 'config';
@import 'utilities';
@import 'item_grid';

// General Styles
* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.6;
  font-family: 'Dosis', sans-serif;
  background: #fff;
}

a {
  color: $dark-color;
  text-decoration: none;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

// Logo
#logo {
  width: 70px;
  height: 70px;
  color: #fff;
  text-transform: uppercase;
}

// Main Nav
#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    padding-bottom: 0.5rem;
    border-bottom: 3px transparent solid;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: border-color 0.5s;

    &:hover {
      border-color: $medium-color;
    }

    &.current {
      border-color: $main-color;
    }
  }
}

// Header
#header {
  // Header Home
  &-home {
    height: 100vh;
    color: #fff;
    background: $bg-image no-repeat center right / cover;

    // Header Content
    .header-content {
      padding-top: 20%;
      text-align: center;

      h1 {
        font-size: 4rem;
        line-height: 1.2;
      }
    }
  }

  // Header Inner
  &-inner {
    height: 5.5rem;
    border-bottom: 3px solid $main-color;
    background: $bg-image no-repeat 20% 30% / cover;
  }
}

// Home Sections
#home {
  // Home Section A
  &-a {
    .specials {
      grid-gap: 1rem;
      grid-template-columns: repeat(4, 1fr);
      display: grid;
      margin-top: 3rem;

      .fas {
        padding-bottom: 0.4rem;
        color: $main-color;
      }
    }
  }

  // Home Section B
  &-b {
    .stats {
      grid-template-columns: repeat(4, 1fr);
      display: grid;

      li {
        line-height: 2;

        &.stats-title {
          font-size: 1.5rem;
        }

        &.stats-number {
          font-weight: bold;
          font-size: 2rem;
        }
      }

      div {
        padding: 3rem 0;

        &:nth-child(odd) {
          background: $light-color;
        }

        &:nth-child(even) {
          background: $medium-color;
        }
      }
    }
  }

  // Home Section C
  &-c {
    .process {
      grid-gap: 1.5rem;
      grid-template-columns: repeat(4, 1fr);
      display: grid;
      text-align: center;

      // process-step
      &-step {
        position: absolute;
        top: 0;
        right: 0;
        width: 15px;
        height: 15px;
        padding: 1rem;
        border-radius: 50%;
        color: set-text-color($main-color);
        font-size: 28px;
        line-height: 15px;
        background: $main-color;
        transition: all 1s;
      }

      // process-icon
      &-icon {
        position: relative;
        width: 70px;
        height: 70px;
        padding: 2rem;
        border-radius: 50%;
        color: set-text-color($dark-color);
        line-height: 70px;
        text-align: center;
        background: $dark-color;
        transition: all 1s;

        &:hover {
          width: 90px;
          height: 90px;
          line-height: 90px;
          background: $main-color;

          .process-step {
            color: set-text-color($dark-color);
            background: $dark-color;
          }
        }
      }
    }
  }
}

// About Sections
#about {
  // About A
  &-a {
    .about-info {
      grid-gap: 1.2rem;
      grid-template-areas:
        'bioimage bio bio'
        'aw1 aw2 aw3';
      display: grid;
    }

    // Grid Area
    .bio-image {
      grid-area: bioimage;
    }

    .bio {
      grid-area: bio;
      padding: 0.8rem;
      border-left: 3px solid $main-color;
    }

    .award-1 {
      grid-area: aw1;
    }

    .award-2 {
      grid-area: aw2;
    }

    .award-3 {
      grid-area: aw3;
    }

    .award-1 .fas,
    .award-2 .fas,
    .award-3 .fas {
      margin: 1rem;
      color: $main-color;
    }
  }

  // About B
  &-b {
    .progress {
      height: 20px;
      margin-bottom: 0.6rem;
      border-radius: 5px;
      overflow: hidden;
      background: $medium-color;

      div {
        height: 100%;
        color: #fff;
        text-align: center;
        background: $main-color;
      }
    }
  }
}

// Footer
#main-footer {
  height: 5rem;
  color: #fff;
  background: $dark-color;

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;

    .social .fab {
      width: 20px;
      height: 20px;
      margin-right: 1rem;
      padding: 0.5rem;
      border: 2px #fff solid;
      border-radius: 50%;
      line-height: 20px;
      text-align: center;

      &:hover {
        background: $main-color;
      }
    }
  }
}
